league-env/*
credentials.json
token.json
.DS_Store
*.env
.vscode/*
scripts/__pycache__/*
scripts/api/__pycache__/*
config/__pycache__/*
examples/__pycache__/*
scripts/utils/__pycache__/*
models/__pycache__/*
constants/__pycache__/*
modules/api_clients/riot_client/services/__pycache__/*