backend/league-env/*
credentials.json
token.json
.DS_Store
*.env
.vscode/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Next.js
frontend/.next/
frontend/out/
frontend/build/
frontend/dist/
frontend/.vercel
frontend/node_modules/

data/processed/*